[user]
	email = brad.geltz@intel.com
	name = Brad Geltz
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /home/bgeltz/.gitignore
	pager = less -r -F -X
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(white)(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
	meld = difftool -y -t meld --dir-diff
[push]
	default = matching
[credential]
	helper = cache --timeout=3600
[fetch]
	prune = true
[pull]
	rebase = true
[branch]
    # Should new branches be set up to be rebased upon git pull?  Yes.
    autosetuprebase = always
    # Setup git checkout -b $branch to always track the current branch
    autosetupmerge = always
[rebase]
	autosquash = true
[init]
	defaultBranch = main
